@model PagedList.IPagedList<Final_ThibanProject.Models.Order>
@using PagedList.Mvc;
@{
    ViewBag.Title = "AddOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table tbody > tr:last-child > td {
        border-bottom: none;
    }

    .right_col.main-adminordrmngmnt-section .caret.ml5 {
        margin-left: 5px !important;
    }
</style>

<!-- Start: Content-Wrapper -->

<div class="right_col main-adminordrmngmnt-section" role="main">
    <div class="row mb10 col-lg-12 col-md-12 col-sm-12 col-xs-12 top-title-bar">
        <h1 class="main-top-header">Thiban Order Management</h1>
    </div>
    <div class="row mb10 col-lg-12 col-md-12 col-sm-12 col-xs-12 pr30">
        <div class="inner-header  bred-inner-header mb20">
            <div class="bread-cumLeft">
                <ol class="breadcrumb dash-bred-cumb">
                    <li> <a href="#"> <span><img src="~/Content/assets/img/bred-home.png" /></span> Home</a></li>
                    <li><i class="fa fa-angle-right ml5" aria-hidden="true"></i> </li>
                    <li class="ml5"><a href="#">Order Management</a></li>
                </ol>
            </div>
        </div>
    </div>

    <!-- Begin: Content -->

    <section id="content" class="table-layout animated fadeIn pr10">

        <!-- begin: .tray-center -->

        <div class="tray tray-center pr20">

            <!-- create new order panel -->

            <div class="panel mb25  border-round main-admin-ordermngmnt">
                <h1 class=" panel-title c-m-h1 sub-header pb20"> ORDERS</h1>
                <div class="panel-heading">
                    <span class="panel-title hidden-xs"> Create New Orders</span>
                    <ul class="nav panel-tabs-border panel-tabs order-mngmnt-tabs">
                        <li class="active"> <a href="#tab1_1" data-toggle="tab">General</a> </li>
                        <li> <a href="#tab1_2" data-toggle="tab">Payment</a> </li>
                        <li> <a href="#tab1_3" data-toggle="tab">Shipping</a> </li>
                    </ul>
                </div>
                @using (Html.BeginForm("AddOrder", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="panel-body p25 pb5">
                        <div class="tab-content pn br-n admin-form">
                            <div id="tab1_1" class="tab-pane active">
                                <div class="section row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label for="firstname" class="field prepend-icon">
                                            <input type="text" name="FirstName" id="firstname" class="br-light gui-input input-clr-hash rdr-color outline brdr-none" placeholder="First name...">
                                        </label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label for="email" class="field prepend-icon">
                                            <input type="email" name="Email" id="email" class="gui-input input-clr-hash rdr-color outline br-light  brdr-none" placeholder="Email address">
                                        </label>
                                    </div>
                                </div>
                                <div class="section row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label for="lastname" class="field prepend-icon">
                                            <input type="text" name="LastName" id="lastname" class="gui-input input-clr-hash rdr-color br-light  outline brdr-none" placeholder="Last name...">
                                        </label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label for="mobile" class="field prepend-icon">
                                            <input type="tel" name="Mobile" id="mobile" class="gui-input input-clr-hash rdr-color outline  br-light brdr-none" placeholder="Telephone / moble number">
                                        </label>
                                    </div>
                                </div>
                                <div class="section row mbn">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <p class="text-right next-btn-admin">
                                            <button class="btn btn-primary  border-radius99 prduct-save-btn mt10" type="button">Next</button>
                                        </p>
                                    </div>
                                </div>
                                <!-- end section -->
                            </div>
                            <div id="tab1_2" class="tab-pane">
                                <div class="section">
                                    <label class="field option">
                                        <input type="radio" name="CardType" checked>
                                        <span class="radio select-card-radio" style="top:1px !important"></span>Credit Card
                                    </label>
                                    <label class="field option">
                                        <input type="radio" name="CardType">
                                        <span class="radio select-card-radio" style="top:1px !important"></span>Paypal
                                    </label>
                                    <label class="field option">
                                        <input type="radio" name="CardType">
                                        <span class="radio select-card-radio" style="top:1px !important"></span>Check
                                    </label>
                                </div>
                                <!-- end section -->
                                <div class="section row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pl-no ">

                                        <label for="cardname" class="field prepend-icon">
                                            <input type="text" name="cardname" id="cardname" class="gui-input br-light  outline brdr-none" placeholder="Name on card...">
                                        </label>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pr-no ">
                                        <label for="cardno" class="field  prepend-icon">
                                            <input type="text" name="CardNumber" id="lastname" class="gui-input  br-light  outline brdr-none" placeholder="Card number...">
                                        </label>
                                    </div>
                                </div>

                                <!-- end section -->

                                <div class="section row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pl-no">
                                        <label for="cardmonth" class="field select">
                                            <select id="cardmonth" name="cardmonth" class=" selectpicker outline br-light ">
                                                <option value="">Expiry month...</option>
                                                <option value="01">01 - Jan</option>
                                                <option value="02">02 - Feb</option>
                                                <option value="03">03 - Mar</option>
                                                <option value="04">04 - Apr</option>
                                                <option value="05">05 - May</option>
                                                <option value="06">06 - Jun</option>
                                                <option value="07">07 - Jul</option>
                                                <option value="08">08 - Aug</option>
                                                <option value="09">09 - Sep</option>
                                                <option value="10">10 - Oct</option>
                                                <option value="11">11 - Nov</option>
                                                <option value="12">12 - Dec</option>
                                            </select>
                                            <i class="arrow double"></i>
                                        </label>
                                    </div>

                                    <!-- end section -->

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pr-no">
                                        <label class="field select">
                                            <select id="cardyear" name="cardyear" class=" selectpicker outline br-light ">
                                                <option value="">Expiry year...</option>
                                                <option value="2014">2014</option>
                                                <option value="2015">2015</option>
                                                <option value="2016">2016</option>
                                                <option value="2017">2017</option>
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                                <option value="2023">2023</option>
                                                <option value="2024">2024</option>
                                                <option value="2025">2025</option>
                                                <option value="2026">2026</option>
                                            </select>
                                            <i class="arrow double"></i>
                                        </label>
                                    </div>

                                    <!-- end section -->

                                </div>

                                <!-- end section row section -->

                                <div class="section row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pl-no">
                                        <label for="secno" class="field prepend-icon">
                                            <input type="text" name="CardCvv" id="secno" class="gui-input outline br-light brdr-none" placeholder="CVV number..." style="border-color:#ccc !important;">
                                            <b class="tooltip tip-left-top"><em> This is a four diigit number at the back of your card </em></b>
                                        </label>
                                    </div>

                                    <!-- end section -->

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <p class="field-align"> <a href="#" class="theme-link"> What is this? </a> </p>
                                    </div>

                                    <!-- end section -->

                                </div>
                                <hr class="short">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <p class="text-right next-btn-admin">
                                        <button class="btn btn-primary border-radius99 prduct-save-btn" type="button">Next</button>
                                    </p>
                                </div>

                                <!-- end section row section -->

                            </div>
                            <div id="tab1_3" class="tab-pane">
                                <div class="section row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                        <label for="zip" class="field prepend-icon">
                                            <input type="text" name="Address" id="zip" class="gui-input br-light  outline brdr-none" placeholder="Street Address">
                                        </label>
                                    </div>

                                    <!-- end section -->

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label for="city" class="field prepend-icon">
                                            <input type="text" name="City" id="city" class="gui-input  br-light outline brdr-none" placeholder="City">
                                        </label>
                                    </div>

                                </div>
                                <div class="section row">
                                    <!-- end section -->
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label for="states" class="field select">
                                            <select id="states" name="State" class=" selectpicker outline br-light ">
                                                <option value="">Choose state</option>
                                                <option value="AL">Alabama</option>
                                                <option value="AK">Alaska</option>
                                                <option value="AZ">Arizona</option>
                                                <option value="AR">Arkansas</option>
                                                <option value="CA">California</option>
                                                <option value="AL">Alabama</option>
                                                <option value="AK">Alaska</option>
                                                <option value="AZ">Arizona</option>
                                                <option value="AR">Arkansas</option>
                                                <option value="CA">California</option>
                                            </select>
                                            <i class="arrow double"></i>
                                        </label>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <label for="city" class="field prepend-icon">
                                            <input type="text" name="Zip" id="city" class="gui-input  br-light outline brdr-none" placeholder="Zip">
                                        </label>
                                    </div>

                                </div>
                                <div class="section row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label class="field select">
                                            <select id="location" name="Country" class=" selectpicker outline br-light  " style="width:100% !important">
                                                <option value="">Select country...</option>
                                                <option value="AL">Albania</option>
                                                <option value="DZ">Algeria</option>
                                                <option value="AD">Andorra</option>
                                                <option value="AO">Angola</option>
                                                <option value="AI">Anguilla</option>
                                                <option value="AL">Albania</option>
                                                <option value="DZ">Algeria</option>
                                                <option value="AD">Andorra</option>
                                                <option value="AO">Angola</option>
                                                <option value="AI">Anguilla</option>
                                            </select>
                                            <i class="arrow double"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="section row mbn">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <label class="field option mt10">
                                            <input type="checkbox" name="info">
                                            <span class="checkbox"></span>Save Customer <span class="small-text">- A Random Unique ID will be generated</span>
                                        </label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <p class="text-right next-btn-admin">
                                            <input type="submit" class="btn btn-primary  border-radius99 prduct-save-btn mt10" value="Save Order" />
                                        </p>
                                    </div>
                                </div>

                                <!-- end section -->

                            </div>
                        </div>
                    </div>
                }
            </div>

            <!-- recent orders table -->

            <div class="panel">
                <div class="panel-menu admin-form theme-primary b brdr-none">
                    <div class="heading-title list-items">
                        <h1 class="panel-title">List of products</h1>
                    </div>
                    <div class="row pagination-block  font-size-13 admin-agintion mn brdr-top-none">
                        <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12 pad-no">
                            <div class="dataTables_paginate paging_bootstrap_extended" style="color:#454545 !important">
                                <div class="pagination-panel">
                                    <div class="page-text">
                                        Page &nbsp;
                                        <div class="show-number">
                                            <ul class="dropdown-menu pagination-numeber-drpdwn pagination-drpdwn" role="menu">

                                                @for (var i = 10; i <= 90; i += 10)
                                                {
                                                    <li>@Html.ActionLink(Convert.ToString(i), "AddOrder", "Order", routeValues: new { pageSizeValue = i, page = Model.PageNumber }, htmlAttributes: null) </li>
                                                }
                                            </ul>
                                            @Html.PagedListPager(Model, page => Url.Action("AddOrder", new { page, pageSizeValue = Model.PageSize }))
                                        </div>@*@for (int i = Model.PageNumber; i <= Math.Min(Model.PageNumber , Model.PageCount); i++)
                                        *@ <div class="of-text">of @Model.PageCount </div>

                                    </div>
                                </div>
                            </div>
                            <div class="dataTables_length">
                                <label>
                                    <span class="seperator">| </span> <span class="view">View &nbsp;</span>
                                </label>
                                <div class="btn-group">
                                    <button type="button" class="btn  dropdown-toggle pagination-sellct-button-toogle " data-toggle="dropdown" style="background:#FFFFFF"> @Model.PageSize <span class="fa fa-angle-down down-number-btn"></span></button>
                                    <span class="records">&nbsp; records</span>

                                </div>
                            </div>

                            <div class="dataTables_info" role="status" aria-live="polite"> <span class="seperator">|</span>Found total @Model.TotalItemCount records </div>
                        </div>


                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 pagination-right-divs">
                            <div class="table-group-actions pull-right">
                                <span></span>
                                <div class="btn-group">
                                    <button type="button" class="btn  pagination-dropdwn-toogle dropdown-toggle" data-toggle="dropdown" style="background:#FFFFFF"> Select... <span class="fa fa-angle-down down-btn"></span></button>
                                    <ul class="dropdown-menu pagination-drpdwn" role="menu">
                                        <li><a href="#">Edit</a></li>
                                        <li><a href="#">Delete</a></li>
                                    </ul>
                                </div>
                                <button class="btn btn-sm btn-default table-group-action-submit  bg-wht"> <i class="fa fa-check"></i> Submit</button>
                            </div>
                        </div>
                    </div>




                    <div class="row filters-border pt20 pb10 ">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="field select">
                                <select id="filter-status" name="filter By Purchases">
                                    <option value="0">Filter by Status</option>
                                    <option value="1">Edit</option>
                                    <option value="2">Delete</option>
                                    <option value="3">Active</option>
                                    <option value="4">Inactive</option>
                                </select>
                                <i class="arrow double"></i>
                            </label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="field select">
                                <select id="filter-status" name="filter-status">
                                    <option value="0">Filter By Group</option>
                                    <option value="1">Edit</option>
                                    <option value="2">Delete</option>
                                    <option value="3">Active</option>
                                    <option value="4">Inactive</option>
                                </select>
                                <i class="arrow double"></i>
                            </label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="field select">
                                <select id="filter-customer" name="filter-customer">
                                    <option value="0">Filter By staus</option>
                                    <option value="1">Alan</option>
                                    <option value="2">Susan</option>
                                    <option value="3">Louis</option>
                                    <option value="4">Randy</option>
                                </select>
                                <i class="arrow double"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="panel-body pn">
                    <div class="table-responsive border-round brdr-top-none">
                        <table id="myTable" class="table admin-form theme-warning tc-checkbox-1  main-driver-table">
                            <thead>
                                <tr class="bg-light fs13 clr-blck">
                                    <th class="text-center">
                                        <label class="option block mn">
                                            <input type="checkbox" name="mobileos" value="FR">
                                            <span class="checkbox mn"></span>
                                        </label>
                                    </th>
                                    <th class="">Order</th>
                                    <th class=""> Purchased Date</th>
                                    <th class=""> Est.Arrival Date</th>
                                    <th class="">Delivery Time </th>
                                    <th class="">Quintity</th>
                                    <th class=" text-center">Shipping Address</th>
                                    <th class=" ">Status</th>
                                    <th class="text-left ml20">Action</th>
                                </tr>
                            </thead>
                            <tbody class="">
                                @foreach (var item in Model)
                                {
                                    <tr id="@item.OrderNo" class="t-m-tr">
                                        <td class="text-center" data-val-col="checkbox" data-val="false">
                                            <label class="option block mn">
                                                <input type="checkbox" name="mobileos" value="FR">
                                                <span class="checkbox mn"></span>
                                            </label>
                                        </td>
                                        <td class="" data-val-col="Order" data-val="@item.OrderNo">@item.OrderNo</td>
                                        <td class="" data-val-col="PurchaseDate" data-val="@item.PurchaseDate">@item.PurchaseDate</td>
                                        <td class="" data-val-col="EstArrival" data-val="@item.EstArrivalDate">@item.EstArrivalDate</td>
                                        <td class="" data-val-col="DeliveryTime" data-val="@item.DeliveryTime">@item.DeliveryTime</td>
                                        <td class="" data-val-col="Quantity" data-val="@item.Quantity">@item.Quantity</td>
                                        <td class="text-center" data-val-col="Address" data-val="@item.Address">@item.Address</td>
                                        <td style="display:none;" data-val-col="Name" data-val="@item.FirstName" class="">$@item.FirstName</td>
                                        <td style="display:none;" data-val-col="Email" data-val="@item.Email" class="">$@item.Email</td>
                                        <td style="display:none;" data-val-col="Phone" data-val="@item.Mobile" class="">$@item.Mobile</td>
                                        <td style="display:none;" data-val-col="CardNo" data-val="@item.CardNumber" class="">$@item.CardNumber</td>
                                        <td style="display:none;" data-val-col="CardCvv" data-val="@item.CardCvv" class="">$@item.CardCvv</td>
                                        <td style="display:none;" data-val-col="City" data-val="@item.City" class="">$@item.City</td>
                                        <td style="display:none;" data-val-col="Country" data-val="@item.Country" class="">$@item.Country</td>
                                        <td style="display:none;" data-val-col="Zip" data-val="@item.Zip" class="">$@item.Zip</td>
                                        <td class=" ">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-success bg-dark br2 btn-xs fs12 dropdown-toggle " data-toggle="dropdown" aria-expanded="false">
                                                    @item.Status<span id="selctedName" class="caret ml5"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" id="action_@item.OrderNo">
                                                    <li onclick="makeSelected(this)">On the Way</li>
                                                    <li onclick="makeSelected(this)">Pending</li>
                                                    <li onclick="makeSelected(this)">Pending Approval</li>
                                                    <li onclick="makeSelected(this)">Disabled</li>
                                                    <li onclick="makeSelected(this)">soldout</li>
                                                </ul>
                                            </div>
                                        </td>

                                        <td class=""><button class="btn btn-default btn-sm border-radius99 vendor-view-btn" type="button" data-toggle="modal" data-target="#myModal"><i class="fa fa-search fs12"></i>View</button></td>
                                    </tr>

                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

        <!-- end: .tray-center -->
        <!-- begin: .tray-right -->
        <!---->
        <!-- end: .tray-right -->

    </section>

    <!-- End: Content -->

</div>
<div class="clearfix"></div>

<!-- End: Content-Wrapper -->
<!-- Start: Right Sidebar -->

<div class="row main-footer">

    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-white">

        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">

            <p class="font-size-13 pull-right"><span>©2017 all Rights Reserved</span></p>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

            <p class="font-size-13 pull-right"> <span><a href="" class="color-hash">Terms and Conditions |Privacy Police</a> </span></p>

        </div>

    </div>

</div>



<script src="~/Content/assets/js/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("#update").click(function () {
            var password = $("#password").val();
            var confirmPassword = $("#confirm_password").val();
            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        });
    });
</script>



<!-- Bootstrap -->



<script src="~/Content/assets/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>

<script src="~/Content/assets/js/raphael.min.js"></script>

<script src="~/Content/assets/js/Chart.min.js"></script>

<script src="~/Content/assets/js/morris.min.js"></script>

<script src="~/Content/assets/js/custom.min.js"></script>

<script src="~/Content/assets/js/date.js"></script>

<script src="~/Content/assets/js/moment.min.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>

<script src="~/Content/assets/bootstrap-daterangepicker/daterangepicker.js"></script>

<script src="~/Content/assets/js/visitor.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

</script>



<script>
    $(document).ready(function () {
        $(".datepicker").datepicker();
    });

    var orderdtl = {
        getid: function (val) {
            var spltval = val.split("_");
            return parseInt(spltval[1]);
        },
        getorderobj: function () {
            return jdata = {
                orderid: "",
                name: "",
                mobileno: "",
                email: "",
                cardno: "",
                cardcvv: "",
                streetaddress: "",
                City: "",
                Zip: ""
            };
        },
        getselectrowdata: function (id) {
            var $row = jQuery("#" + id);
            var $column = $row.find('td');

            $column.addClass('row-highlight');
            var values = "";
            var jData = this.getorderobj();
            var objarr = [];

            var obj = {};
            jQuery.each($column, function (i, item) {
                var $th = $(item).attr("data-val-col");
                var $td = $(item).attr("data-val");

                debugger;
                obj[$th] = $td;
            });
            return obj;
        }
    };

    function makeSelected(el) {
        $(el).parent().parent().children().first().text(el.innerText);
        var ordId = orderdtl.getid($(el).parent()[0].id);
        if (el.innerText!="Edit") {
            $.ajax({
                url: '@Url.Action("UpdateStatus","Order")',
                data: { ordId: ordId, sts: el.innerText },
                type: "POST",
                success: function (res) {
                    debugger;
                },
                error: function (res) {
                    debugger;
                }
            });
        }
    }


</script>


<script type="text/javascript">



    $(document).ready(function (e) {



        $('.selectpicker').selectpicker();



    });



</script>



<script type="text/jscript">
    //get file size
    function GetFileSize(fileid) {
        try {
            var fileSize = 0;
            //for IE
            if ($.browser.msie) {
                //before making an object of ActiveXObject,
                //please make sure ActiveX is enabled in your IE browser
                var objFSO = new ActiveXObject("Scripting.FileSystemObject"); var filePath = $("#" + fileid)[0].value;
                var objFile = objFSO.getFile(filePath);
                var fileSize = objFile.size; //size in kb
                fileSize = fileSize / 1048576; //size in mb
            }
                //for FF, Safari, Opeara and Others
            else {
                fileSize = $("#" + fileid)[0].files[0].size //size in kb
                fileSize = fileSize / 1048576; //size in mb
            }
            return fileSize;
        }
        catch (e) {
            alert("Error is :" + e);
        }
    }

    //get file path from client system
    function getNameFromPath(strFilepath) {
        var objRE = new RegExp(/([^\/\\]+)$/);
        var strName = objRE.exec(strFilepath);

        if (strName == null) {
            return null;
        }
        else {
            return strName[0];
        }
    }

    $("#btnSubmit").live("click", function () {
        if ($('#fileToUpload').val() == "") {
            $("#spanfile").html("Please upload file");
            return false;
        }
        else {
            return checkfile();
        }
    });

    function checkfile() {
        var file = getNameFromPath($("#fileToUpload").val());
        if (file != null) {
            var extension = file.substr((file.lastIndexOf('.') + 1));
            // alert(extension);
            switch (extension) {
                case 'jpg':
                case 'png':
                case 'gif':
                case 'pdf':
                    flag = true;
                    break;
                default:
                    flag = false;
            }
        }
        if (flag == false) {
            $("#spanfile").text("You can upload only jpg,png,gif,pdf extension file");
            return false;
        }
        else {
            var size = GetFileSize('fileToUpload');
            if (size > 3) {
                $("#spanfile").text("You can upload file up to 3 MB");
                return false;
            }
            else {
                $("#spanfile").text("");
            }
        }
    }

    $(function () {
        $("#fileToUpload").change(function () {
            checkfile();
        });
    });

</script>
