@model PagedList.IPagedList<Final_ThibanProject.Models.TeamManage>
@using PagedList.Mvc;
@{
    ViewBag.Title = "TeamMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table tbody > tr:last-child > td {
        border-bottom: none;
    }

    .table > thead:first-child > tr:first-child > td {
        border-top: 1px solid #eee !important;
    }

    .table > thead:first-child > tr:first-child > th {
        border-top: 1px solid #eee;
    }
</style>

<!-- Start: Content-Wrapper -->

<div class="right_col" role="main">
    <div class="row mb5 col-lg-12 col-md-12 col-sm-12 col-xs-12 top-title-bar">
        <h1 class="main-top-header">Thiban Team Management <small>Team members</small></h1>
    </div>
    <div class="row mb10 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="inner-header mb10 inn-head">
            <div class="bread-cumLeft">
                <ol class="breadcrumb tm col-md-3  dash-bred-cumb">
                    <li><a href="#"><img src="~/Content/assets/img/bred-home.png" />> Home</a> </li>
                    &nbsp;&nbsp;
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;Team members</a></li>
                </ol>
            </div>
        </div>
    </div>

    <!-- Begin: Content -->

    <section id="content" class="table-layout animated fadeIn">

        <!-- begin: .tray-center -->

        <div class="tray tray-center">

            <!-- create new order panel -->

            <div class="panel mb25 mt5 border-round">
                <div class="panel-body p10 pb5">
                    <div class="tab-content pn br-n admin-form">
                        <div id="tab1_1" class="tab-pane active">
                            <div class="heading-title">
                                <h3 class="panel-title role_h3 fw600"> Add A New team member</h3>
                            </div>
                            <p class="role_p fw200 font-size-14"> Create a New Team Member to Access Permisssions </p>
                            <a href="~/TeamManagement/CreateMember" class="btn t btn-md border-radius99 role_btn">Add a New Team Member </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel border-round">
                <div class="heading-title list-items">
                    <h1 class="panel-title">List of products</h1>
                </div>
                <div class="row pagination-block  font-size-13 admin-agintion mn brdr-top-none">
                    <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12 pad-no">
                        <div class="dataTables_paginate paging_bootstrap_extended" style="color:#454545 !important">
                            <div class="pagination-panel">
                                <div class="page-text">
                                    Page &nbsp;
                                    <div class="show-number">
                                        <ul class="dropdown-menu pagination-numeber-drpdwn pagination-drpdwn" role="menu">

                                            @for (var i = 10; i <= 90; i += 10)
                                            {
                                                <li>@Html.ActionLink(Convert.ToString(i), "TeamMember", "TeamManagement", routeValues: new { pageSizeValue = i, page = Model.PageNumber }, htmlAttributes: null) </li>
                                            }
                                        </ul>
                                        @Html.PagedListPager(Model, page => Url.Action("TeamMember", new { page, pageSizeValue = Model.PageSize }))
                                    </div>@*@for (int i = Model.PageNumber; i <= Math.Min(Model.PageNumber , Model.PageCount); i++)
                                    *@ <div class="of-text">of @Model.PageCount </div>

                                </div>
                            </div>
                        </div>
                        <div class="dataTables_length">
                            <label>
                                <span class="seperator">| </span> <span class="view">View &nbsp;</span>
                            </label>
                            <div class="btn-group">
                                <button type="button" class="btn  dropdown-toggle pagination-sellct-button-toogle " data-toggle="dropdown" style="background:#FFFFFF"> @Model.PageSize <span class="fa fa-angle-down down-number-btn"></span></button>
                                <span class="records">&nbsp; records</span>

                            </div>
                        </div>

                        <div class="dataTables_info" role="status" aria-live="polite"> <span class="seperator">|</span>Found total @Model.TotalItemCount records </div>
                    </div>


                    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 pagination-right-divs">
                        <div class="table-group-actions pull-right">
                            <span></span>
                            <div class="btn-group">
                                <button type="button" class="btn  pagination-dropdwn-toogle dropdown-toggle" data-toggle="dropdown" style="background:#FFFFFF"> Select... <span class="fa fa-angle-down down-btn"></span></button>
                                <ul class="dropdown-menu pagination-drpdwn" role="menu">
                                    <li><a href="#">Edit</a></li>
                                    <li><a href="#">Delete</a></li>
                                </ul>
                            </div>
                            <button class="btn btn-sm btn-default table-group-action-submit  bg-wht"> <i class="fa fa-check"></i> Submit</button>
                        </div>
                    </div>
                </div>


                <div class="panel-body pn">
                    <div class="table-responsive">
                        <table class="table admin-form table-f-color  ">
                            <thead>
                                <tr class=" clr-blck fs13">
                                    <th class="text-center">
                                        <label class="option block mn">
                                            <input type="checkbox" name="mobileos" value="FR">
                                            <span class="checkbox mn"></span>
                                        </label>
                                    </th>
                                    <th class="">Name</th>
                                    <th class="">Email</th>
                                    <th class="">Role</th>
                                    <th class="">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="t-m-tr">
                                        <td class="text-center" data-val-col="checkbox" data-val="false">
                                            <label class="option block mn">
                                                <input type="checkbox" name="mobileos" value="FR">
                                                <span class="checkbox mn outline"></span>
                                            </label>
                                        </td>
                                        <td class="text-center">2</td>
                                        <td class="">@item.FirstName @item.Lastname</td>
                                        <td class="">@item.Email</td>
                                        <td class="">@item.Rolename</td>
                                        <td>@item.Status</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- end: .tray-center -->
        <!-- end: .tray-right -->

    </section>

    <!-- End: Content -->

</div>

<!-- End: Content-Wrapper -->
<!-- Start: Right Sidebar -->

<div class="clearfix"></div>

<div class="row main-footer">

    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-white">

        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">

            <p class="font-size-13 pull-right"><span>©2017 all Rights Reserved</span></p>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

            <p class="font-size-13 pull-right"> <span><a href="" class="color-hash">Terms and Conditions |Privacy Police</a> </span></p>

        </div>

    </div>

</div>
<script src="~/Content/assets/js/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("#update").click(function () {
            var password = $("#password").val();
            var confirmPassword = $("#confirm_password").val();
            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        });
    });
</script>



<!-- Bootstrap -->



<script src="~/Content/assets/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>

<script src="~/Content/assets/js/raphael.min.js"></script>

<script src="~/Content/assets/js/Chart.min.js"></script>

<script src="~/Content/assets/js/morris.min.js"></script>

<script src="~/Content/assets/js/custom.min.js"></script>

<script src="~/Content/assets/js/date.js"></script>

<script src="~/Content/assets/js/moment.min.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>

<script src="~/Content/assets/bootstrap-daterangepicker/daterangepicker.js"></script>

<script src="~/Content/assets/js/visitor.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

</script>




<script>



    $(document).ready(function () {



        $(".datepicker").datepicker();



    });



</script>


<script type="text/javascript">



    $(document).ready(function (e) {



        $('.selectpicker').selectpicker();



    });



</script>
